{% extends 'base.html.twig' %}

{% block body %}
    {% for option in presenter.toArray %}
        <div>
            <a href="{{ path('option', {'selected': option}) }}">{{ option }}</a>
        </div>
    {% endfor %}
{% endblock %}
